<div>

    <div>
        <p class="title">combineLatest operator</p>

        <h4>Θα φτιάξουμε ένα σουβλάκι</h4>

        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έδωσα {{pitaCounter}}</div>
                <button (click)="pita.next('pita')">Πάρε πίτα</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έδωσα {{kreasCounter}}</div>
                <button (click)="kreas.next('kreas')">Πάρε κρέας</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έδωσα {{ntomataCounter}}</div>
                <button (click)="ntomata.next('ntomata')">Πάρε ντομάτα</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έδωσα {{kremidiCounter}}</div>
                <button (click)="kremidi.next('kremidi')">Πάρε κρεμμύδι</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έδωσα {{patatesCounter}}</div>
                <button (click)="patates.next('patates')">Πάρε πατάτες</button>
            </div>
        </div>

        <ng-container *ngIf="souvlaki$ | async as souvlaki">
            <section class="mt-2">
                <h5>Καλή όρεξη!</h5>

                <ng-container *ngFor="let counter of souvlakiCounter(counter)">
                    <img src="assets/souvlaki.png" alt="" width="400">
                </ng-container>

                <h5 class="mt-2">Συστατικά:</h5>
                <pre>{{ souvlaki | json }}</pre>
            </section>
        </ng-container>


    </div>

    <div class="notes">
        <p class="title">Σημειώσεις</p>
        <p>Με τον combineLatest operator περιμένει το souvlaki$ observable να πάρει τουλάχιστον μια τιμή από όλα τα sources, 
            και μετά φτιάχνει το πρώτο observable συνδυάζοντας αυτές τις τιμές. </p>
        <p>Μέχρι εδώ μοιάζει με τον zip operator.</p>
        <p>Όμως για να φτιαχτεί ένα δεύτερο observable δεν χρειάζεται να σταλεί πάλι μια τιμή από όλα τα sources. 
            Αρκεί κάποιο από τα sources να στείλει μια νέα τιμή.</p>
        <p>Τότε δημιουργείται ένα νέο observable που έχει τις τελευταίες τιμές από τα υπόλοιπα sources σε συνδυασμό με την νέα 
            τιμή που εστάλη από αυτό το source.</p>
    </div>

</div>
