<div class="container1">

    <div>
        <p class="title">switchMap with zip operator</p>

        <h4>Θα παραγγείλουμε σουβλάκια</h4>
        <hr>
        <div class="d-flex justify-content-start">
            <div class="d-flex flex-column bd-highlight mb-1">
                <button class="mb-2" (click)="dispatchOrder()">
                    Πάρε μια παραγγελία για σουβλάκια
                </button>
                <div 
                    *ngFor="let order of ordersArray; let i = index">
                    Παραγγελία No{{i + 1}} - Σουβλάκια: {{order.amount}} 
                </div>
            </div>
        </div>

        <hr>

        <div class="d-flex justify-content-start">
            <div class="d-flex flex-column bd-highlight mb-1 mr-3">
                <div>Έβαλα {{pitaCounter}}</div>
                <button (click)="pita.next('pita')">Βάλε πίτα</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1 mr-3">
                <div>Έβαλα {{kreasCounter}}</div>
                <button (click)="kreas.next('kreas')">Βάλε κρέας</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1 mr-3">
                <div>Έβαλα {{ntomataCounter}}</div>
                <button (click)="ntomata.next('ntomata')">Βάλε ντομάτα</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1 mr-3">
                <div>Έβαλα {{kremidiCounter}}</div>
                <button (click)="kremidi.next('kremidi')">Βάλε κρεμμύδι</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έβαλα {{patatesCounter}}</div>
                <button (click)="patates.next('patates')">Βάλε πατάτες</button>
            </div>
        </div>

        <hr>

        <ng-container *ngIf="delivery$ | async as product">
            <section class="mt-2">
                <h5>Καλή όρεξη!</h5>

                <ng-container *ngFor="let counter of souvlakiaArray(souvlakiaCounter)">
                    <img src="assets/souvlaki.png" alt="" width="200">
                </ng-container>

                <h5 class="mt-2">Φτιάξαμε {{productsArray.length}} Products (Σουβλάκια)</h5>
                <div class="d-flex justify-content-start flex-wrap">
                    <div class="mr-5" 
                        *ngFor="let product of productsArray; let i = index">
                        Product No{{i + 1}}: <pre>{{product | json}} </pre>
                    </div>
                </div>
            </section>
        </ng-container>


    </div>

    <div class="notes">
        <p class="title">Σημειώσεις</p>

    </div>

</div>