<div class="p-3">
    <a class="mr-3" routerLink="/">Home</a>
    <a class="mr-3" [routerLink]="['user', 1]">User 1</a>
    <a class="mr-3" [routerLink]="['user', 2]">User 2</a>
    <a class="mr-3" [routerLink]="['user', 3]">User 3</a>
    <a class="mr-3" routerLink="customObservableWithOperators">Custom Observable With Operators</a>
    <a class="mr-3" routerLink="angularObservables">Angular Observables</a>
    <div ngbDropdown class="d-inline-block">
        <button  class="btn btn-outline-primary mr-3" id="dropdownBasic" ngbDropdownToggle>Operators</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
            <button ngbDropdownItem routerLink="/operators/takeLast">takeLast</button>
        </div>
    </div>
    <a routerLink="/subjects">Subjects</a>
    <a routerLink="/pipes">Pipes</a>
</div>

<div>
    <router-outlet></router-outlet>
</div>