<div class="p-3">
    <a class="mr-3" routerLink="/">Home</a>
    <a class="mr-3" [routerLink]="['user', 1]">User 1</a>
    <a class="mr-3" [routerLink]="['user', 2]">User 2</a>
    <a class="mr-3" routerLink="customObservableWithOperators">Custom Observable With Operators</a>
    <div ngbDropdown class="d-inline-block">
        <button  class="btn btn-outline-primary mr-3" id="dropdownBasic" ngbDropdownToggle>Operators</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
            <button ngbDropdownItem routerLink="/operators/takeLast">takeLast</button>
            <button ngbDropdownItem routerLink="/operators/switchMap">switchMap</button>
            <button ngbDropdownItem routerLink="/operators/mergeMap">mergeMap</button>
            <button ngbDropdownItem routerLink="/operators/mergeMap2">mergeMap with zip</button>
            <button ngbDropdownItem routerLink="/operators/concatMap">concatMap</button>
            <button ngbDropdownItem routerLink="/operators/zip">zip</button>
            <button ngbDropdownItem routerLink="/operators/combineLatest">combineLatest</button>
            <button ngbDropdownItem routerLink="/operators/share">share</button>
        </div>
    </div>
    <div ngbDropdown class="d-inline-block">
        <button  class="btn btn-outline-primary mr-3" id="dropdownBasic" ngbDropdownToggle>Subjects</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
            <button ngbDropdownItem routerLink="/subjects/subjects">Subjects</button>
            <button ngbDropdownItem routerLink="/subjects/behavior-subjects">BehaviorSubjects</button>
            <button ngbDropdownItem routerLink="/subjects/replay-subjects">ReplaySubjects</button>
        </div>
    </div>
    <a class="mr-3" routerLink="/pipes">Pipes</a>
    <a routerLink="/testing">Testing</a>
</div>

<div>
    <router-outlet></router-outlet>
</div>