<div class="p-3">
    <a class="mr-3" routerLink="/">Home</a>
    <a class="mr-3" [routerLink]="['user', 1]">User 1</a>
    <a class="mr-3" [routerLink]="['user', 2]">User 2</a>
    <a class="mr-3" [routerLink]="['user', 3]">User 3</a>
    <a class="mr-3" routerLink="customObservableWithOperators">Custom Observable With Operators</a>
    <a class="mr-3" routerLink="angularObservables">Angular Observables</a>
    <div ngbDropdown class="d-inline-block">
        <button  class="btn btn-outline-primary mr-3" id="dropdownBasic1" ngbDropdownToggle>Operators</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/">map</button>
            <button ngbDropdownItem routerLink="/">filter</button>
            <button ngbDropdownItem routerLink="/">switchMap</button>
            <button ngbDropdownItem routerLink="/">take</button>
            <button ngbDropdownItem routerLink="/operators/takeLast">takeLast</button>
            <button ngbDropdownItem routerLink="/">tap</button>
            <button ngbDropdownItem routerLink="/">skip</button>
            <button ngbDropdownItem routerLink="/">forkJoin</button>
            <button ngbDropdownItem routerLink="/">combineLatest</button>
            <button ngbDropdownItem routerLink="/">concat</button>
            <button ngbDropdownItem routerLink="/">delay</button>
        </div>
    </div>
    <a routerLink="/subjects">Subjects</a>
</div>

<div>
    <router-outlet></router-outlet>
</div>