<div>

    <div>
        <p class="title">mergeMap operator</p>

        <h4>Θα φτιάξουμε ένα σουβλάκι</h4>

        <div class="d-flex justify-content-start">
            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έδωσα {{deliveryCounter}}</div>
                <button (click)="dispatchOrder()">Πάρε μια παραγελία για σουβλάκια</button>
            </div>
        </div>

        <div class="d-flex justify-content-start">
            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έβαλα {{pitaCounter}}</div>
                <button (click)="pita.next('pita')">Βάλε πίτα</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έβαλα {{kreasCounter}}</div>
                <button (click)="kreas.next('kreas')">Βάλε κρέας</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έβαλα {{ntomataCounter}}</div>
                <button (click)="ntomata.next('ntomata')">Βάλε ντομάτα</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έβαλα {{kremidiCounter}}</div>
                <button (click)="kremidi.next('kremidi')">Βάλε κρεμμύδι</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έβαλα {{patatesCounter}}</div>
                <button (click)="patates.next('patates')">Βάλε πατάτες</button>
            </div>
        </div>

        <ng-container *ngIf="delivery$ | async as product">
            <section class="mt-2">
                <h5>Καλή όρεξη!</h5>

                <ng-container *ngFor="let counter of souvlakiCounter(counter)">
                    <img src="assets/souvlaki.png" alt="" width="400">
                </ng-container>

                <h5 class="mt-2">Συστατικά:</h5>
                <pre>{{ product | json }}</pre>
            </section>
        </ng-container>


    </div>

    <div class="notes">
        <p class="title">Σημειώσεις</p>

    </div>

</div>