<div>

    <div>
        <p class="title">zip operator</p>

        <h4>Θα φτιάξουμε ένα σουβλάκι</h4>

        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έδωσα {{pitaCounter}}</div>
                <button (click)="pita.next('pita')">Πάρε πίτα</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έδωσα {{kreasCounter}}</div>
                <button (click)="kreas.next('kreas')">Πάρε κρέας</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έδωσα {{ntomataCounter}}</div>
                <button (click)="ntomata.next('ntomata')">Πάρε ντομάτα</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έδωσα {{kremidiCounter}}</div>
                <button (click)="kremidi.next('kremidi')">Πάρε κρεμμύδι</button>
            </div>

            <div class="d-flex flex-column bd-highlight mb-1">
                <div>Έδωσα {{patatesCounter}}</div>
                <button (click)="patates.next('patates')">Πάρε πατάτες</button>
            </div>
        </div>

        <ng-container *ngIf="souvlaki$ | async as souvlaki">
            <section class="mt-2">
                <h5>Καλή όρεξη!</h5>

                <ng-container *ngFor="let counter of souvlakiCounter(counter)">
                    <img src="assets/souvlaki.png" alt="" width="400">
                </ng-container>

                <h5 class="mt-2">Συστατικά:</h5>
                <pre>{{ souvlaki | json }}</pre>
            </section>
        </ng-container>


    </div>

    <div class="notes">
        <p class="title">Σημειώσεις</p>
        <p>Με τον zip operator περιμένει το souvlaki$ observable να πάρει τουλάχιστον μια τιμή από όλα τα sources,
            και μετά φτιάχνει το πρώτο observable συνδυάζοντας αυτές τις τιμές. </p>
        <p>Μέχρι εδώ μοιάζει με τον combineLatest operator.</p>
        <p>Τα sources μπορεί να στέλνουν πολλές τιμές, αλλά μόνο όταν έχει σταλεί μια δεύτερη τιμή από όλα τα sources δημιουργείται ένα νέο δεύτερο observable.</p>
        <p>Οι τιμές που έχουν ήδη σταλεί από τα sources αποθηκεύονται σε queue, και στέλνονται με την ίδια σειρά στο επόμενο souvlaki$ observable που θα φτιαχτεί.</p>
    </div>

</div>